@font-face {
  font-family: "Monserrat Bold";
  src: url("Font/static/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Monserrat Medium";
  src: url("Font/static/Montserrat-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 113, 1) 0%,
    rgba(255, 188, 0, 1) 100%
  );
  font-family: "Monserrat Medium";
  color: white;
}
header,
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  margin: 5%;
}
h1 {
  font-family: "Monserrat Bold";
}

.AddButton {
  font-family: "Monserrat Bold";
  border: solid white;
  color: black;
  padding: 5px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddButton:hover {
  background: rgb(207, 207, 207);
}

.AddText {
  font-family: "Monserrat Medium";
  border: solid white;
  cursor: pointer;
  color: black;
  width: 450px;
  height: 50px;
  border-radius: 50px;
  outline: none;
}
.AddTask {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50px;
  width: 550px;
  height: 60px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.267);
}
.ListToDo {
  width: auto;
}

.TaskList {
  list-style: none;
  width: auto;
  margin: 5% 25% 5% 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.todo-li {
  font-family: "Monserrat Bold";
  margin: 2% 0 2% 0;
  font-size: 24px;
  color: black;
  background: white;
  border-radius: 50px;
  /* min-width: 200px; */
  width: auto;
  height: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.267);
  padding: 3%;
  display: grid;
  transition: all 1.5s;
}

.checked {
  background: #99d98c;
  color: white;
  opacity: 0.5;
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.267);
  transition: all 1.5s;
}

.deleteAnimation {
  transform: translateY(8rem) rotateZ(15deg);
  opacity: 0;
}

.ButtonDelete {
  font-family: "Monserrat Bold";
  border: none;
  color: white;
  border-radius: 50px;
  background: #fb4b4e;
  padding: 5px;
  margin: 2% 5% 2% 15%;
  width: 50px;
  cursor: pointer;
  grid-column: 3;
}

.ButtonDelete:hover {
  background: rgb(207, 207, 207);
}

.MarkButton {
  font-family: "Monserrat Bold";
  border: none;
  color: white;
  border-radius: 50px;
  background: #47a025;
  padding: 5px;
  margin: 2% 5% 2% 15%;
  width: 50px;
  cursor: pointer;
  grid-column: 2;
}

.MarkButton:hover {
  background: rgb(207, 207, 207);
}

.MarkButton,
.ButtonDelete {
  margin-left: 5%;
}

.fa-circle-minus,
.fa-check {
  pointer-events: none;
}
